body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.wrap {
  flex: 8;
}

#navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#sizeSlider {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  order: 2;
}

#sizeSlider {
  margin: 0;
}

#sliderSpan, #speedSliderSpan {
  font-size: 16px;
  margin-left: 5%;
}

.speed, .size {
display: flex;
justify-content: flex-start;
align-content: center;
margin: 0;
}

#home {
  text-align: center;
  justify-self: center;
  align-self: center;
  order: 1;
}

.welcome {
  background-color: #1b286b;
  border: 5px solid black;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 100;
  overflow: auto;
}

.welcome > h2 {
  color: #8797e6;
  text-shadow: 1px 2px black;
  font-size: 64px;
  margin: 0;
}

.welcome > svg {
  margin-right: 5%;
  margin-top: 2%;
  cursor: pointer;
  overflow: auto;
  align-self: flex-end;
  flex-shrink: 0;
}

.welcome > p {
  color: #7e89c4;
  text-shadow: 1px 1px black;
  font-size: 24px;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.info {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.info > p {
  margin: 5;
  font-size: 20px;
}

.pageColors, .cellColors {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  cursor: pointer;
  justify-content: center;
}

.pageColors {
  order: 5;
}

.cellColors {
  order: 6;
}

.buttons {
  order: 4;
  display: flex;
  justify-content: space-evenly;
}

button {
  border: 1px solid darkgreen;
  border-radius: 10%;
  color: darkgreen;
  background-color: white;
  min-height: 25%;
  min-width: 3%;
  align-self: center;
  transition: transform 0.2s;
  margin-right: 10px;
}

button:hover {
  color: green;
  border-color: green;
  transform: scale(1.3);
  cursor: pointer;
}

#closeWelcomeIcon {
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 200;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hidden {
  display: none;
}

.darkMode {
  background-color: black;
  color: #7e89c4;
}

@media screen and (max-width: 960px) {
  #home,
  .info {
    display: none;
  }
  .welcome > p {
    font-size: 12px;
  }
  .welcome > h2 {
    font-size: 24px;
  }
}
